.link-icon
  color: #E0A892
  text-decoration: none

.link-text
  @extend .link-icon
  border-bottom: 1px solid rgba(241, 140, 121, 0.5)
  transition: border-bottom-color 0.2s ease-in
  &:hover
    border-bottom-color: rgba(241, 140, 121, 1)

.link-button
  color: #555555
  border: 1.5px solid #c0c0c0
  border-radius: 0
  &:hover
    color: #555555
    border: 1.5px solid #84CDC2