.link-icon
  color: #f66d52
  // color: #84CDC2
  text-decoration: none
  margin: 0 10px 0 0

.link-text
  @extend .link-icon
  border-bottom: 1px solid rgba(241, 140, 121, 0.25)
  transition: border-bottom-color 0.2s ease-in
  &:hover
    border-bottom-color: rgba(241, 140, 121, 1)

.link-button
  height: 35px
  width: 100px
  display: inline-block
  color: #f66d52
  // font-family: 'Roboto', sans-serif
  font-weight: 300
  // letter-spacing: 1px
  // text-transform: uppercase
  text-align: center
  text-decoration: none
  background-color: transparent
  border: 1px solid #f66d52
  border-radius: 0
  margin-top: 10px
  transition-duration: 0.2s
  &:hover
    color: #fff
    // font-family: 'Roboto', sans-serif
    font-weight: 300 
    background-color: #f66d52
    border: 1px solid #f66d52
    // letter-spacing: 1px
    // text-transform: uppercase
  // &:visited
  //   color: #c0d7d2
  //   font-family: 'Roboto', sans-serif
  //   font-weight: 300 
  //   background-color: transparent
  //   border: 1.5px solid #c0c0c0
  //   letter-spacing: 1px
  //   text-transform: uppercase