h1
  margin: 0 auto 20px
  color: #84CDC2
  font-style: bold
  font-weight: 700
  font-family: 'Josefin Sans', sans-serif
  font-size: 32px
  line-height: 32px
  // letter-spacing: .3em

h2
  // margin: 0 auto 20px
  margin: 1em 0 .5em 0
  color: #84CDC2
  font-weight: 400
  font-family: 'Josefin Sans', sans-serif
  font-size: 26px
  // line-height: 1.1em
  letter-spacing: .3em  

h3
  margin: 0 auto 20px
  color: #d48c74
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700
  font-size: 24px
  letter-spacing: .3em

h4
  margin: 0 auto 20px
  color: #555555
  font-weight: 400
  font-family: 'Josefin Sans', sans-serif
  font-size: 20px
  letter-spacing: .3em

p
  margin: 0 auto 20px
  line-height: 1.5
  color: #555555
  font-family: 'Merriweather', serif
  font-weight: 300
  font-size: 12px
  
label
  font-family: 'Josefin Sans', sans-serif
  font-size: 18px
  color: #84CDC2
  line-height: 1.5  
 
a:hover
  text-decoration: none