h1
  margin: 0 auto 20px
  color: #84CDC2
  font-style: bold
  font-weight: 700
  font-family: 'Merriweather', serif
  font-size: 42px
  line-height: 42px
  // letter-spacing: .3em

h2
  margin: 0 auto 20px
  color: #84CDC2
  font-weight: 400
  font-family: 'Josefin Sans', sans-serif
  font-size: 32px
  letter-spacing: .3em  

h3
  margin: 0 auto 20px
  color: #E0A892
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700
  font-size: 24px
  letter-spacing: .3em

h4
  margin: 0 auto 20px
  color: #555555
  font-weight: 400
  font-family: 'Josefin Sans', sans-serif
  font-size: 20px

p
  margin: 0 auto 20px
  line-height: 1.5
  color: #555555
  font-family: 'Merriweather', serif
  font-weight: 300
  font-size: 12px
  
label
  font-family: 'Josefin Sans', sans-serif
  font-size: 17px
  color: #036F73
  line-height: 1.5  
 
ul
  margin-left: 20px

li
  font-family: 'Merriweather', serif
  font-size: 14px
  font-weight: 300
  color: #555555
  line-height: 1.5  
  letter-spacing: .3em
