ul {
  list-style: none;
  padding: 10px; }

.nav-list {
  border-left: 1px dotted;
  padding: 0 10px;
  text-transform: uppercase; }

.nav-item {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: 300;
  color: #555555;
  letter-spacing: .3em; }

.back-to-top {
  height: 20px;
  width: 20px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none; }

.back-to-top .fa {
  font-size: 20px;
  color: #E0A892; }

body {
  font-family: 'Noto Serif', serif; }

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif; }

h1 {
  margin: 0 auto 20px;
  color: #84CDC2;
  font-weight: 100;
  line-height: 32px; }

h2 {
  margin: 1em 0 .5em 0;
  color: #84CDC2;
  font-weight: 100; }

h3 {
  margin: 0 auto 20px;
  color: #d48c74;
  font-weight: 100; }

h4 {
  margin: 0 auto 20px;
  color: #555555;
  font-weight: 100; }

p, a li, span {
  font-family: 'Noto Serif', serif; }

p {
  margin: 0 auto 20px;
  color: #555555; }

label {
  color: #84CDC2; }

a:hover {
  text-decoration: none; }

.form-input {
  border-radius: 0; }

.link-icon, .link-text {
  color: #d48c74;
  text-decoration: none; }

.link-text {
  border-bottom: 1px solid rgba(241, 140, 121, 0.5);
  transition: border-bottom-color 0.2s ease-in; }
  .link-text:hover {
    border-bottom-color: #f18c79; }

.link-button {
  color: #555555;
  background-color: transparent;
  border: 1.5px solid #c0c0c0;
  border-radius: 0; }
  .link-button:hover {
    color: #555555;
    border: 1.5px solid #84CDC2; }

.container-inner {
  max-width: 992px;
  margin: 0 auto; }

.section-hero {
  min-height: 200px; }
  @media (min-width: 992px) {
    .section-hero .section-hero-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh; } }

@media (min-width: 992px) {
  .section-main {
    height: 100vh;
    overflow-y: scroll; } }

.u-padded {
  margin: 0 10px;
  padding-top: 10px;
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    .u-padded {
      margin: 0 20px;
      padding-top: 20px;
      padding-bottom: 40px; } }

.u-border {
  border-bottom: 1px solid #c0c0c0; }
